<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">tharindu</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=MyDatabase</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<mapping
			class="com.pr.PatinetRecordServerHibernate.model.NoteModel" />
		<mapping
			class="com.pr.PatinetRecordServerHibernate.model.RecordModel" />
	</session-factory>
</hibernate-configuration>
